<div class="container">
  <!-- Barra lateral de filtros -->
  <div class="dos">

    <div class="encabezado">
      <label>BUSCAR</label>
    </div>

  <div class="filters-column">


    <div class="filter">
      <label>Estado:</label>
      <select [(ngModel)]="estado" (change)="filterProperties()">
        <option value="" disabled selected>Seleccione tipo...</option>
        <option value="En Venta">En Venta</option>
        <option value="En Renta">En Renta</option>
      </select>
    </div>
    
    <!-- Filtro de tipo de propiedad -->
    <div class="filter">
      <label>Tipo de propiedad:</label>
      <select [(ngModel)]="propertyType" (change)="filterProperties()">
        <option value="" disabled selected>Seleccione tipo...</option>
        <option value="casa">Casa</option>
        <option value="departamento">Departamento</option>
        <option value="suit">Suite</option>
        <option value="casa rentera">Casa Rentera</option>
        <option value="terreno">Terreno</option>
        <option value="local comercial">Local Comercial</option>
        <option value="oficina">Oficinas</option>
        <option value="nave">Naves</option>
      </select>
    </div>

    <!-- Filtro por ubicación -->
<!-- Filtro por ubicación -->
<div class="filter">
  <label>Ciudad:</label>

  <select [(ngModel)]="city" (change)="onCityChange(city)">
    <option value="" disabled selected>Seleccione tipo...</option>
    <option *ngFor="let c of cities" [value]="c">{{ c }}</option>
  </select>
</div>



    <!-- Limpiar filtros -->
    <button (click)="clearFilters()">Limpiar filtros</button>
  </div>
  </div>

<!-- Propiedades filtradas -->
<div *ngIf="filteredProperties.length > 0; else noResults" class="encima">
<div class="properties-column">
  <div class="property-card" *ngFor="let property of filteredProperties" >

    <!-- Propiedades filtradas -->

    <img 
    [src]="property.imagenes?.[0]" 
    alt="Imagen principal" 
    class="imagenProp"
  />
  
    <div class="property-details">
      <h3>{{ property.TipoPropiedad }} - {{ property.Estado }}</h3>
</div>
    
    <div class="property-detailss">

      <h2>${{ property.Precio_Venta }}</h2>
      <p>{{ property.Direccion_Sector }}
      <p>Cod: {{ property.IPD }}   Enc: {{ property.PROCOD }}</p>


      <div class="iconoi">
      <div clas="interno">
      <i class="fas fa-bed" ></i>
      <p class="tres">{{ property.HAB }}</p>
      </div>

      <div clas="interno">
      <i class="fas fa-bath"></i>
      <p class="tres">{{ property.BNO }}</p>
      </div>

      <div clas="interno">
      <i class="fas fa-warehouse"></i>
      <p class="tres">{{ property.BNO }}</p>
      </div>
      </div>

    </div>

    <div class="property-detailsss">
    
    <p> Mas informacion:</p>

    <div class="botones-mas">
   

        <a [routerLink]="['/detalle', property.IPD]">
        <i class="fas fa-plus"></i>
      </a>

    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=fenix.ec.inmobiliaria@gmail.com" target="_blank">
      <i class="fas fa-envelope"></i>
    </a>

      <!-- Botón de WhatsApp -->
    <a [href]="createWhatsappLink(property)" target="_blank">
 
        <i class="fab fa-whatsapp"></i>

    </a>

    </div>
    </div>

  </div>
</div>


</div>

<ng-template #noResults>
  <div class="sin-resultados">
    <p>😕 No hay propiedades disponibles que coincidan con los filtros seleccionados.</p>
  </div>
</ng-template>
