

    <header class="custom-toolbar" >
    
      <img src='assets/imagenes/logoFenix5.png' alt="Logo 1" class="logo"> 
    
        <div class="botones">
    
          <button class="btninicio" (click)="goToInicio()">Inicio</button>
          <button class="btnacercade" (click)="goToInicio()">Propiedades</button>
          <button class="btnacercade" (click)="goToAcercaDe()">Acerca de</button>
          <button class="google-button" (click)="loginWithGoogle()">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Google Logo" class="google-logo">
          </button>
          
        </div>
      </header>


    


<router-outlet> </router-outlet>