<section class="todo">


<section class="section-container">
  <!-- División izquierda -->
  <div class="left-side" >


    <div class="arriba">
    <h1>Inmobiliaria Fenix</h1>
    <p>¡Encuentra la casa, departamento o suite de tus sueños!</p>

    <button class="custom-button" class="btncatalogo" (click)="goToCatalogo()">Catalogo</button>
    </div>

    <div class="imagen">
      <button class="btnconimagen" (click)="estado = 'En Renta'; searchProperties()">
        <img src="assets/imagenes/arriendooo.jpeg" alt="icono" class="icono">
        <span class="texto">Arriendos</span>
      </button>
    
      <button class="btnconimagen" (click)="estado = 'En Venta'; searchProperties()">

        <img src="assets/imagenes/venta.jpg" alt="icono" class="icono">
        <span class="texto">Ventas</span>
      </button>
    
      <button class="btnconimagen" (click)="searchProperties()">
        <img src="assets/imagenes/otro.png" alt="icono" class="icono">
        <span class="texto">Otros</span>
      </button>
      </div>

    
  </div>


  <div class="hero-container">
    <!-- Filtros -->
    
    <div class="men-container">
    <div class="filters">
      <h1><strong>Encuentre su vivienda a un precio increíble</strong></h1>
      <p>Compra, arriendo o venta de inmuebles en Cuenca o en cualquier ciudad del Ecuador.</p>
  
      <!-- Botones para seleccionar el tipo de propiedad -->
      <div class="button-group">
        <button 
        class="button"
        [ngClass]="{ 'button-selected': estado === 'En Venta' }"
        (click)="estado = 'En Venta'">
        En venta
      </button>
      
      <button 
      class="button"
      [ngClass]="{ 'button-selected': estado === 'En Renta' }"
      (click)="estado = 'En Renta'">
      Arrendar
    </button>
    
      </div>

  
      <!-- Filtros de búsqueda -->
      
    <div class="search-filters">
      <!-- Tipo de propiedad -->
      <div class="primerF">
        <p>Tipo De Propiedad</p>
        <ng-select
        [(ngModel)]="propertyType"
        [items]="propertyTypes"
        [clearable]="false"
        class="ng-sector-select">
      </ng-select>
      
</div>


<!-- Ciudad -->
<div class="segundoF">
  <p>Ciudad</p>
<ng-select
  [(ngModel)]="city"
  [items]="cities"
  [clearable]="false"
  (change)="onCityChange(city)"
  class="ng-sector-select">
</ng-select>
</div>


</div>
  
      <!-- Botón de búsqueda -->
      
      <div class="button-group">
        <button class="search-button" (click)="searchProperties()">BUSCAR</button>
      </div>
  
      <div class="codigo">
      <!-- Opción de búsqueda por código -->
      <button class="code-search-button" (click)="searchPorCodigo()" >BUSCAR POR CÓDIGO</button>
      <input type="text" [(ngModel)]="codigo" />
      </div>
 
    </div>
    </div>
  </div>
  
</section>





<section class="videos">
  <video #videoPlayer class="video" autoplay loop playsinline muted>
    <source src="assets/imagenes/Comp 1_2_1.mp4" type="video/mp4">
  </video>
</section>




</section>


<div class="dest">
<i class="fas fa-repeat"></i>
<p>DESTACADOS</p>
</div>


  <div class="property-grid" id="seccion-2">
    <!-- Mostrar las 9 propiedades aleatorias -->
    <div class="property-card" *ngFor="let property of (busquedaActiva ? filteredProperties : randomProperties)">


      <img 
      [src]="property.imagenes?.[0]" 
      alt="Imagen principal" 
      class="imagenProp"
    />
    
      <div class="property-details">
        <h3>{{ property.TipoPropiedad }} - {{ property.Estado }}</h3>
  </div>
      
      <div class="property-detailss">

        <h2>${{ property.Precio_Venta }}</h2> 
        <p>{{property.Direccion_Sector }}</p>
          <p>Cod: {{ property.IPD }}</p>
    
        <div class="iconoi">
        <div clas="interno">
        <i class="fas fa-bed" ></i>
        <p class="tres">{{ property.HAB }}</p>
        </div>

        <div clas="interno">
        <i class="fas fa-bath"></i>
        <p class="tres">{{ property.BNO }}</p>
        </div>

        <div clas="interno">
        <i class="fas fa-warehouse"></i>
        <p class="tres">{{ property.BNO }}</p>
        </div>
        </div>

      </div>

      
      
      <div class="property-detailsss">
      
      <p> Mas informacion:</p>

      <div class="botones-mas">
        <a [routerLink]="['/detalle', property.IPD]">
          <i class="fas fa-plus"></i>
        </a>
   
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=fenix.ec.inmobiliaria@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i>
      </a>

        <!-- Botón de WhatsApp -->
      <a [href]="createWhatsappLink(property)" target="_blank">
          <i class="fab fa-whatsapp"></i>
      </a>

      </div>

    </div>
      
    </div>
  </div>
  
  


  
  <router-outlet></router-outlet>
  